table{
border-collapse:collapse ;
text-align: left;
border: 3px solid purple;
width: 500px;
vertical-align: top;
margin: 0%;
}

th, td {
    border: 1px solid purple;
padding: 10px;

}

body{
display: flex;
flex-direction: column;
align-items: center;
}
#f1{
text-align: center;

}
#c2{

    text-align: center;
}